language: python
python: 3.7
dist: xenial
cache: pip
git:
  submodules: false
matrix:
  include:
  - python: 3.6
    env: TOXENV=py36
  - python: 3.7
    env: TOXENV=py37
  - python: 3.8
    env: TOXENV=py38
  - python: 3.7
    env: TOXENV=lint
  - python: 3.7
    env: TOXENV=manifest
before_install:
  - echo -e "\n\nmachine github.com\n  login $CI_USER_TOKEN" > ~/.netrc
  - git submodule update --init --recursive
install:
  - pip install -U setuptools
  - pip install tox
  - rm -fr s3_upload && mkdir s3_upload
  - python shipping/generate-versions-file.py
  - mv versions.json s3_upload/versions.json
script: tox
deploy:
  - provider: pypi
    user: __token__
    password:
      secure: "JpjV9uwfnWOLTlU8W8JfJOdP0C12WGH44QPhLgvjYlFa+Qwxv5N8WRnFrKKmUn3hICc9tRyXo+z4ycOHwRzxsG0tPgpqgUNxNkAh1+t9fmpTRt5UGu4+d/hx5xgcEQjjk+w6IJFzOKIrOZXfPr3Cc7e8YQNKXt999K9jSlTOST4Dv7IlHBrW0PaUQe6pNQAgn6SB/58+bDlfP00G+zlSdkEX75W2gIzIjFrnf74+URtSU5scEF6ZYp/fZ2vUzeaXtbGKRleQJXvjNbJfqEcs0M/oXUUQxUxJkvfLi/48DesJTBTicSvvnWu0EC7r5tIRJE5QLVaF4Ltg2Kh+JY+3cRKdVSgVJsCGsRgxPH+IrWo4GI3rpSzV0RKBf3rCGlCMPMLFXkn3igR+mFOb+iX6LL2/oiJ4198WUhHsUt3ir5PodAWMry+NLWnAUCKSUOAopABd7lPYilOgkIORJApDI9zVquE/iwdwWEJr+26Xo3hSpwHp8m0OZb8NWlmYv8Ho1KKjOZ8Uvt/Ap+88W06wq3jPVnsSakEKDDapr+acCsChFGaIvcrh3A/l1+CeYErqP3g01oezjBzFNjgl3NhT1nAi2+n7UyuMtlW+v4LKMCmnBR956ZKrRgU7up5Jf1DJUVF0QPsHTh383JA4MR29PdoIWcLfBiBTjcfY9wqOeRM="
    distributions: sdist bdist_wheel
    on:
      tags: true
      condition: $TOXENV = py36
      repo: panoramichq/panoramic-cli
  - provider: releases
    api_key:
      secure: "ALG8OMrdtYv+kG/hFRvU6dWn130wiEv/S81lAzCkDHAsr+bqIFbdIpCm3Fdua0gwE+eDjmBOzcEPJAaPhYn+jN96GihLhfE1Yq+/epRj8gN/4OYrW2mOsCaWmfTjV6lhp8j8+dV8jb/5JITB0g8Tj4KHO/OVkOt1MKqLSV/mV9voepcjKOEmLFG0GLGOM1JSVBoeTVASKlSC5QCvhojgfKBr/hhtaPRMf2pPcNjumGunUd1d4P86X6DIbwOKE0ulV8dJKJ17t9vRM9CcI4NxIyhDf5bP29WwCDh8xyjIgzub42ix3dGX9VuLKnJMkHjHQndRHwU3MiMUMSKlOHA8NzleipAamYqANyU5VUtXjQadQ45RDk7vDrswRCUqLDMzQm/ZuAaIbZBBAmUEN8bbO9hN54i62jsJuI3FYMcgCDS3fPYclq/odHO6nbhwg0bAceekwXCzSBHMGJh8bV6mmubQcmqMFyATM33MgHrCJNMZmpCIdV80w2LLU/dlgX205Rm5mDJxnZu4IY2IaPFgqtmL5IdSD1A4lS/fsJyqcqdPbjA4d1c3l9fb6ZnLqf7JiLc9gdNJXJ/ztStBOjPwZdkLHBb8yB6H2fuhPRLuvUQ918YnDQqv6n4QuHGL/eTJbgpw0niRY460lcq06ePam1mp9F1+rEsnMi2ztYFqwiM="
    skip_cleanup: true
    file_glob: true
    file:
      - "dist/**"
    on:
      tags: true
      condition: $TOXENV = py36
      repo: panoramichq/panoramic-cli
  - provider: s3
    access_key_id:
      secure: "j9UZCzUphYM58XDU9c94ra3T5Dr653Hxa0ETwvj9FWA9IeQ3zqCvZx5QqoqvagBBow7nqpm+XCODNJF3MemW3jwcVdBlWt8PKCohsteAFvU3z6CuUYo9LMG2MzRqmkT9iHAcLRSgQD8HFk+Z4Y5dLoA9PO4+aETYDkJb2ZNwexnWxkE3lgIagDNT0x1N+hXXlBGh1l5BEOC7TqMXthcCM3ljPsaCbQlcspjiIdoqq1QlNuAuhBZLGzME3v8gJNwhf6VjZBhTU20oobt1BAIkIJtyamxwAAYp2jG5odNqm5j0qlin7N06T6rV3R5y7EaqzlOCp6rENSHVEmmONxxR4Wk4pMyNxDnnR/+zRjza4mZNNQMjBqdlDCRtBRzmb4tkmi9/OoaV03ew1eu+RRvswpK3on67B0ukMyHqCa3xH/Stt7l/w9QmWsGfsBVjD73rcOw7nzCSB3y8EEmA9AcjlPxyMH1KlH+P+CG5F64OgZIwI0hp1AHaZ/D3DArTjn/Ii7PNP2OzXuUyFu9tfTc4HIjjW1rZaJ7ioZfZkaxKKm22zDa67C0G5+GeCZy9xKmQoSKQX3upUjh9ivBH2X7vntuVncyqLiS7a6tOavN5ji3YjCevzRs586hHg+lSUYWgzxnAmk8hfnRiqK0KrNlUzbd/+HIWIT07I1SEDSY6REM="
    secret_access_key:
      secure: "pFyZ/mDuw2PVKj/vzV71JXp4x6kh07b113BdKPII/PenTJL6gZmPWpCbKrRD6a6wgxU6Jb5wbPB78zm2j/NzRcg3HiRlM6Dka+PeQqXsJiPtORbuR+ChQrWxdXQzA7B5T8RsR6PK8EPRChsr+XsDnw/vK7QHJHmzvp/bIRTlIwDB7wY8wiTzNlKWGbJs60/ZzGz+KHIbFcQjKwzuZhaC/ecQK4MyOSLOc6rDIj3Ke6Qvh5x2s20nRPgFpKzUe3yLIa/7wG+0/T67PlyvGXNr5UTdUMxZ9epSQ+Kw+kGFe/oTC2UoOAEjhMYJj3GqOBiGdV3MopsiaDpwauAUT9vwxHVcfVbp8fgRtnZJ8HIa3XmSgYPJ2LxyT1Mdf0e7gEgiA4CHft9MDGpJlqbhKfH3NDFqPHr6eZhbgDwI3uDi2GgMi2+pVjk9bX/Jiwa1g5NhhvYkAU+EBQa2W3N4BqRmBUJ/Qc/j93BAQb6sK0CMHHNh+2QaU4yrR+b9lj4LLFMAaP5P8P9JsFZsmclApYM7HJqBgZKEZ/vnuBR9aoAZlC09bzlrivcgmAM6ku9+sbk39jVsS7DgJKIWBPpViJN266tw3QNOJX5PZnkF/tOua0hBGXQ11SXjRA/9vGkEYvBK6UoXBjMe839xX3IKMzqUTL3oFyYa3vfiOQwQ4aCDQE0="
    bucket:
      secure: "glbkogThlUZh+4GAiR2m4Q4IP40Zp8byhUV1nah5OuZcTlS9sEfSyshzQnELnTbGowsmPf+cPidqIK2pPW4Y6DOLafEClNI8qzi7pV8GmvJnOvyxEjUdKE4juUQFdO3BRC23o5zBSjJw9Qw9/un5wrEGXD55t0QdM6XSvmrkdQVCWm9rv6pFXfNT9b/YR33PpstBZEw2cQ25kpvFSxPG3Z1OOTKmlCrV/cZQkrSs0KJdR7SlRSNwAQg/R2BjLUjYf/FoF/beGUuaNmj27ipgELrB9TSq8Pm53OJ2YVtvGFRWFFRitFiGZYUfZIju6cB1ifRQQXLJ/kLTfYZ1RWf34vkkPflxedkXT6m0aU2v80abVUH0/8XCoZ3z40R+wWlcs0Usq/toYr+nHax8SnVnzNsbGlX0nY17fGUJp0b+tz2QpF+JbCAytfow7fC8yRwAGTHq+rNSdjU9IF9Jf4WV7hetCOwHice9C0m7GQc74Snm2q/aJySAidJrQ/qPABufJ/rhKIpv2hbY7jIJH9K+PWi+y0VUlQks4WdNmTYxCKGAEDkeWnLDrBrH9L5q3YTGyJjaSH1r9uSxOohuZrbOFR+ALhrHOHh3qsOFpyNlO0Uu+6uuwwFKu6Ok1zk41AvfCg3JNBGwvxVstGdv5piacUY7rQkihxrF+2ufgWPhRr8="
    acl: public_read
    upload_dir: "updates/pano-cli"
    local_dir: "./s3_upload"
    cache_control: "max-age=60"
    skip_cleanup: true
    on:
      tags: true
      condition: $TOXENV = py36
      repo: panoramichq/panoramic-cli
after_deploy:
  - rm -fr brewout && mkdir -p brewout
  - shipping/ppfg.sh -f -c shipping/ppfg -o brewout $(python shipping/generate-versions-file.py)
  - cat brewout/panoramic-cli.rb
  - shipping/update_homebrew.sh
