include *.toml *.ini *.md *.yaml .flake8 Makefile
include src/panoramic/cli/py.typed
recursive-include tests *.py
recursive-include e2e *.py *.yaml
graft examples
prune shipping
prune .vscode
prune .devcontainer
