include *.toml *.ini *.md *.yaml .flake8 Makefile LICENSE
include src/panoramic/cli/py.typed
recursive-include tests *.py
include src/panoramic/cli/schemas/*.json
exclude .gitmodules
exclude .dockerignore
prune e2e
prune shipping
prune .vscode
prune .devcontainer
