interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0b1", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c8894d51d78140d55b9cb6b3e6b2807e"'
      Last-Modified:
      - Thu, 06 Aug 2020 14:41:08 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - xJNGkCdg_MF7RA9MPWscU1tH6Gil2TfD
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XzvEM3AbPwwztxnQvkmihQAABO8
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1597752431'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"data":{"job_id":"20c43bca-7384-333f-e8b5-9da575e63b00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4f4e9478-79b4-4ebe-9f22-df56d55e3715
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20c43bca-7384-333f-e8b5-9da575e63b00
  response:
    body:
      string: '{"data":{"job_status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 69fdfe47-fc5c-4cd1-946a-5bb054605133
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20c43bca-7384-333f-e8b5-9da575e63b00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS","model_name":"sf.metrics3_stg.adwords_views.entity_ads"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_ads_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS","model_name":"sf.metrics3_stg.adwords_views.entity_advideos"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns_criterion"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS","model_name":"sf.metrics3_stg.adwords_views.entity_user_lists"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b8958c3b-1ac0-40cc-be1f-1d07402934df
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43bc8-bfe2-e931-1c6e-8156549bc900"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1b0a5421-f442-4b35-b1d8-783f80fc33bb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"data":{"job_id":"20c43bc3-db3f-4b9e-84b0-148d38953200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f26a722c-83c5-4c0a-ac34-68bf7f7ff5fa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20c43bc3-db3f-4b9e-84b0-148d38953200/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_reference":"\"__API_VERSION\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"CHARACTER
        VARYING","field_map":["__api_version"],"model_name":"sf.metrics3_stg.adwords_views.entity_accounts","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__api_version"},{"data_reference":"\"__DATA\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"CHARACTER
        VARYING","field_map":["__data"],"model_name":"sf.metrics3_stg.adwords_views.entity_accounts","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__data"},{"data_reference":"\"__EXTRACTED_AT\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"TIMESTAMP","field_map":["__extracted_at"],"m[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43bc2-2ed3-cc20-6aa7-5a2e4c624600"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 87129f6d-a8bb-497d-9701-834d38468739
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"data":{"job_id":"20c43bbd-0814-e023-c736-fd34a9244600"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 45545b50-e947-4ef1-ab9e-b136b64b9ec0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43bbb-1916-e53c-91c4-5050c650f200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ae85cc76-955a-406e-bed7-f564b5605056
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20c43bb6-0137-8ffe-0d7d-7208eff08400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - dbcc537f-8c2e-4908-8131-f2522c8e639f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43bb4-6b91-0ec1-c3f6-7db780c19a00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8532a0b7-5936-4f21-b373-504d53fdb425
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"data":{"job_id":"20c43bb0-fce8-a701-313f-9350c1fd7100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 126ed2e4-0719-4582-8c66-ffaee9610763
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43baf-b529-f6e2-8e3e-66d563b61000"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 879cd673-a025-447d-9279-fb4fdfde1389
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20c43ba8-ae5b-4204-1707-7e95d64d8100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 386de6da-54eb-4583-b448-939ecce1b79c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43ba6-ce03-9978-11e5-322145600e00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 589ca254-16ee-406a-a3cf-cd933cf6512a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"data":{"job_id":"20c43ba3-57b0-1319-15f0-7ce221028c00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1a321338-1da6-4930-aa99-846a9b8f6e47
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43ba1-fb3b-5f12-d3c4-01cdd5199800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7be5ccad-5334-464f-a10e-44a5c8d797ab
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"data":{"job_id":"20c43b9f-1a04-4241-0e62-605209479100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e00d5254-7f0e-4f35-8cfd-8578412f1132
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43b9d-18a2-00e2-21c7-2738bd04d900"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9845231f-12d9-435b-9889-7cf1c567291f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"data":{"job_id":"20c43b99-dab5-d171-2508-c842ec906100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f71e1880-d800-46a5-ad6e-c57bc342634c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43b97-c5e8-c943-89a9-374460af5200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c8211ee9-72df-4e64-9d3a-5396dd7c4d91
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20c43b94-00e3-fd06-2dfc-16ee74d84200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9867b419-e7a5-493d-9f5d-283bdb4edfb4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43b91-faa0-60e3-8e4b-43faea130d00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a8dd4da1-f542-4d2a-bfc4-77d0dd3ce1a8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"data":{"job_id":"20c43b8c-1d47-2efd-925c-109f6252f400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d08c9b3a-43fd-4ddc-b234-5b91220547af
    status:
      code: 200
      message: OK
[...]
