interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.5.0", "minimum_supported_version": "0.5.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"6f6cec12a24a753e532387a3b5b72795"'
      Last-Modified:
      - Wed, 15 Jul 2020 15:39:07 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - AmpsFa8j0cdkl5eOsFx13_MLd6nASHlV
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XxBMJLkO14Qa5FDO3qhiLwAAAyc
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1594903648'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"job_id":"20efb3da-777a-eb0f-8135-e307f95fae00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b4025a11-726e-457b-a849-9f080b8e39aa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20efb3da-777a-eb0f-8135-e307f95fae00
  response:
    body:
      string: '{"job_status":"RUNNING"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5454d621-e3b1-4520-ab1f-651e57af7e6a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20efb3da-777a-eb0f-8135-e307f95fae00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_CRITERION","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_USER_LISTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c57559fd-e775-45fc-a74e-9253e26f8f8a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20efb3d6-42af-645c-4fe6-6ebbb1dbff00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 92fd28ed-1582-4a8f-97a9-336e71a5c20d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20efb3d4-69bf-cdb8-9413-0fb9e95d9100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d6e34c0e-4b90-429d-b3c6-6b65bd4bbb6c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20efb3d4-69bf-cdb8-9413-0fb9e95d9100/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_default":null,"column_name":"__API_VERSION","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":1,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__DATA","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":2,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__EXTRACTED_AT","data_type":"TIMESTAMP","is_nullable":"YES","ordinal_position":3,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_defaul[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20efb3d2-5224-b18c-f1f2-112b95326500"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4308c4ac-d2e0-477c-af68-d57aacfdc3ec
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20efb3cf-1951-6c7b-3ed7-975c35431400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f2540722-e6cf-4625-ab00-a19f94f65b62
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20efb3ce-3000-2268-6f5b-35f19a014300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1e954713-3408-4018-bc55-418fba66767a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20efb3cb-2774-d722-013b-8fe6e5676500"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f2ac52de-659b-4533-a9aa-972d34457293
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20efb3c5-ab89-769f-747d-3419cba33400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c3519347-c868-4c06-8394-98415f430c10
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20efb3c0-c4cd-9382-f4e5-445fdee6f900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a1c07449-2127-459a-9205-5d313b87cc7b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20efb3bf-6dbd-ce57-c0a9-ce0eeb0d1700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c5d983e8-dc82-4ad1-9c7a-953682f237f9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20efb3bc-6821-0802-b6ee-96f2aaad0500"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ba42c2ef-b319-4987-b1c1-4adc71e98f30
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20efb3b9-d2b0-0e88-7d26-97c67dce5100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3437f1cb-e41a-426b-839d-0291fecda9ed
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20efb3b8-fea5-4d7a-b11a-53074670d500"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2f7a0b57-008d-430a-87a5-0ab2be4ffe72
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20efb3b7-4fbc-35e0-ef75-322fc3eade00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b2af3ef1-a174-4672-9ccf-e7a3a6344995
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20efb3b3-9a07-04a7-fc2b-c956dc37ac00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - fedae4aa-a03a-4a96-abf6-832d4889ec40
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20efb3b1-fbf8-1601-c767-6720a8600400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b277f7be-7136-449b-8c22-23fd77e374fe
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20efb3ae-9864-3382-210e-f71a3c6ac300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3d7e5c51-83be-44d9-a783-6950e10d8a36
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20efb3ac-e5e1-9c86-5fe1-8b28824f0400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f3a118f4-f151-4cf2-b5f4-1772f4d0596c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20efb3a9-2e0d-11c7-afa9-87f6d1f65f00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ca828938-785c-43f9-b964-06438e549242
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20efb3a8-2ea2-9eb1-274d-158efc346300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 98bc225f-c3c9-4ae5-8dfd-08dfc8c8624f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20efb3a5-7f36-6b8e-59f4-d7bd11fc5c00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b0e1dbb8-1e89-4d26-b7d9-cd793c5328f4
    status:
      code: 200
      message: OK
[...]
