interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.8.2", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"acb0d320be59147dfb26455e55c2fc2f"'
      Last-Modified:
      - Mon, 03 Aug 2020 17:13:31 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - qkHIZxDofjgIGtiqEpD.zVPWGQVVJKwW
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XywGK0GI@cGaLtJfXV9bxgAAA@o
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '596'
      x-rate-limit-reset:
      - '1596720699'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"job_id":"20d3f9d1-bfbd-52a9-9f36-bdf3518f5300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2164ee53-fd91-4634-ab1b-1df83a0ccdf5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d3f9d1-bfbd-52a9-9f36-bdf3518f5300
  response:
    body:
      string: '{"job_status":"COMPLETED"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 45b807ef-1f86-427a-91d9-124d1b843da1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d3f9d1-bfbd-52a9-9f36-bdf3518f5300/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_CRITERION","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_USER_LISTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7a205033-b721-46f6-a50d-0c9846d49182
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f9d0-cf88-b7c0-8433-e7f081a77100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2ac22ec2-4ef4-43a5-9934-18b141931e0d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"data":{"job_id":"84d141dc-bbe2-4ed9-9890-ddde8a2efce1"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d7c95a60-9168-4cb0-96d3-3dc8f2a32e54
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/job/84d141dc-bbe2-4ed9-9890-ddde8a2efce1
  response:
    body:
      string: '{"data":{"identifiers":null,"job_id":"84d141dc-bbe2-4ed9-9890-ddde8a2efce1","status":"RUNNING"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d12e5bd3-1eb9-4830-aded-5284f33ff6ac
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20d3f9c6-2c97-7453-0b44-d4d09aad8300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 853b6d90-34e0-44d5-a9a3-6edb36607111
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d3f9c6-2c97-7453-0b44-d4d09aad8300/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_default":null,"column_name":"__API_VERSION","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":1,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__DATA","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":2,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__EXTRACTED_AT","data_type":"TIMESTAMP","is_nullable":"YES","ordinal_position":3,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_defaul[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f9c4-5c79-ae0c-f7b8-c5462597f700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 30c80f0c-b38a-4aa1-b8be-d9c542640793
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"data":{"job_id":"818c1df9-4daa-4c05-b6f9-cfe3e6f9ae59"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7cb13bd0-fc68-43bf-91fc-a975bf3465db
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20d3f9b1-45ae-4aa2-dea4-175c3b330400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6453d952-d17e-4296-93f5-f817443e7774
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f9af-1d49-b14b-5e3b-7ca2b9ec8e00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c066efbe-853e-46e8-b317-3f42879d1b2a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"08a28aac-f941-4a38-b2da-36c62309d6ab"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 33ca3333-7235-4e47-9395-887e07f00171
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d3f987-203e-1a7b-0485-95a09aa62300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - bdb4312e-5516-4ea4-bfaa-f91230fcbaa5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f984-ad11-f50c-0429-5b5c2c23a300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c78aa59c-b647-4e40-8805-7a6c7d1ebeec
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"data":{"job_id":"749406bc-2a72-4215-8c70-6604a50ae27f"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 618455c1-19e7-44e5-bdff-ea7e3d49f571
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20d3f960-0737-e120-4be8-cffda5e2d200"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a5715009-4dab-4fd7-aa26-1e2f05088ede
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f95f-3590-a8c9-692d-71c02c833a00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 42edad7c-edb7-49e7-9d50-9a3eab71a49d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"3fef79ce-0b0f-47fd-ae9c-1840afe4ae7b"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 029a03db-cbc3-436f-8819-25f0bc58da91
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d3f937-81ad-4f62-3578-2c785cf09100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5ebe2294-e3b8-401f-9bb8-747c2683f763
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f935-be0d-9f53-b1f4-66e65a51d800"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 57408e15-e3c6-42d2-8c2b-2bd6f0290b95
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"data":{"job_id":"2cd31414-2168-4edf-a245-0aefa257ba10"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 898c9ac3-302a-43cf-b88d-e159e2e48e70
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20d3f91f-5c9f-0022-1026-1468d9e87e00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 27fc28d7-2f64-4683-9862-20345004652f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f91e-17f4-25e0-a877-032b9727d800"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4259162b-3203-4a7a-8a09-173ce14201d0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"data":{"job_id":"a1dcd807-c181-422f-b685-75fa239ee39e"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 664591fd-ea4a-4350-b08e-8187905d2ffd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20d3f90d-0cec-ace1-b0b4-a53ca15b8400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1b3202af-925a-4e0d-8f76-083618786ae9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f90c-3a4f-ccb3-c339-92a4803df900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c9feb763-a056-483f-81d2-dd27d0588d47
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"data":{"job_id":"5c689028-c181-4eb3-a060-35562fd263a4"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 147a6a5c-2dab-4c66-a93b-99c8a1ae859c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20d3f8e1-0b4e-c9fe-d5b5-7e7c9cfa7000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b2d4fefb-b7e1-428d-b0fb-e7a34be35267
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f8e0-3957-f847-19b1-f46c8522ff00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0449f6f5-d381-4f51-9a69-49b6cf12af00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"411ed5fe-c4cd-4f01-b3a6-def12a61482a"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d3ce4ef0-3440-465f-9ff7-d27a2f1c1a0b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d3f8b5-ebe5-ca52-9750-6601ed7a2900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ffdf0274-d302-4a4e-bc8f-7c28646f363c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3f8b3-ea69-aa0c-11e8-7da4abb8ad00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6986085c-8608-4e17-a3cd-3c9d492e8fb5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"data":{"job_id":"d29d630b-ac3c-42ea-aa81-705fd7a462ef"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - eab2cc87-e8ee-4871-b470-63d21406fcb8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20d3f886-31f1-9fd7-0020-7928abfc3000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d74279d8-cf0e-45be-8ae1-240f41f60156
    status:
      code: 200
      message: OK
[...]
