interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.7.4", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"6867b00a67be82dc6de1129f91a96f9f"'
      Last-Modified:
      - Thu, 23 Jul 2020 14:02:32 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - zOCc8ujgfqK83SnQvzD1gK57thi41wdB
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XyfVXknVT0kmqYvByrVJswAABcs
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '592'
      x-rate-limit-reset:
      - '1596446097'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"job_id":"20d82aa0-4985-2096-3844-11863e06d700"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 707ea25f-3aa7-460f-b42e-34605057f073
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d82aa0-4985-2096-3844-11863e06d700
  response:
    body:
      string: '{"job_status":"COMPLETED"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 959bbdea-b797-471b-8a99-85e8081050f8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d82aa0-4985-2096-3844-11863e06d700/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_CRITERION","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_USER_LISTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"}]}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b7635e44-bd80-4905-bc0c-578d03c01fba
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a9e-8cd9-ac7e-cdf1-c062a2018800"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 16042727-92fa-4253-a366-3e765b1a7146
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20d82a9c-7367-c4f0-2bcc-99f2788b3b00"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a4980740-0620-42dd-b12d-9a41507d9685
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d82a9c-7367-c4f0-2bcc-99f2788b3b00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_default":null,"column_name":"__API_VERSION","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":1,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__DATA","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":2,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__EXTRACTED_AT","data_type":"TIMESTAMP","is_nullable":"YES","ordinal_position":3,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_defaul[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a9a-c103-0a4e-27a7-4d27ee931e00"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3f832592-fb16-45f4-8efd-2913477e449b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20d82a99-7358-fd23-cde2-12f1f5e49200"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9d455657-1d08-4cf6-bf9e-23471d90f494
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a98-795a-4056-7efa-ca3e97035400"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 417a3ca9-120e-43f7-bb4f-95959c133c9f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d82a95-65a4-8306-7150-04e5f4cc8b00"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 83fef1b4-150d-472a-8f20-ab05343ef1c1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a93-c061-62ca-8f6f-a1f02cdac900"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 55954f6c-792e-4645-bd09-f13ba484e339
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20d82a90-bc5f-cbe3-a5d7-32c9b2606700"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5aa55aee-9894-4432-8df8-5d4556660e5d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a8f-c538-2266-a0f9-c49578ceca00"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e8e3bf82-0bf3-4abe-a034-2c3448b6b0bb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d82a8d-6348-f12c-00e0-b0a267ee8900"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2f58c831-14e8-4745-8c51-8f3ecbf0f2fd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a8b-e4fb-567f-9ddc-1c971f5fa900"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 91fcbae9-3b11-4f94-bb81-753de862c462
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20d82a8a-2094-1c7b-c855-c97d9ab71c00"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 38e3a3f4-337e-4e00-a741-d789d1f20038
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a88-c0c0-75b0-d8a0-b76b57ca2900"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6a29b840-5e07-4ab6-bb3b-1f89ee9dff8d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20d82a7e-585c-46e1-1928-d0cea88c1200"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - bfd7896b-492c-4f1c-b0c2-604167d55df7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a7c-17b5-5e30-ad6d-2d691ccac700"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f981e0f7-559a-4172-a667-6a6e56df2e4b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20d82a7b-5e00-0e7a-c875-bcbe0921bd00"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d728bd7b-673b-4cd6-9b4f-71ec93183fad
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a79-4ba8-34e2-7cc3-58c767752800"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 882078ef-5bbd-4e5b-9ff9-429ba6cf0231
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d82a77-50a0-61b7-d22a-c66c2394aa00"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 22404549-a5ea-43df-a72f-c31c1673404c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d82a75-2886-cb09-91c3-f5af382a8600"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - bf4e5f39-4a94-4a88-ad62-5b0cdb994521
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20d82a72-4796-6873-ccf0-22a3ccf6bb00"}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1444bc9a-579d-4a58-b42c-a7f561edf928
    status:
      code: 200
      message: OK
[...]
