interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0b1", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c8894d51d78140d55b9cb6b3e6b2807e"'
      Last-Modified:
      - Thu, 06 Aug 2020 14:41:08 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - xJNGkCdg_MF7RA9MPWscU1tH6Gil2TfD
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XzvEdnclzqAnTlMPtAhk@QAAABA
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1597752498'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"data":{"job_id":"20c43b85-e24f-a764-e03e-249120d9e000"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a6ae3ccc-1576-456e-b8b6-346ee54672da
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20c43b85-e24f-a764-e03e-249120d9e000
  response:
    body:
      string: '{"data":{"job_status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - df7923d2-b98f-40fc-9991-8694121f9cd9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20c43b85-e24f-a764-e03e-249120d9e000/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS","model_name":"sf.metrics3_stg.adwords_views.entity_ads"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_ads_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS","model_name":"sf.metrics3_stg.adwords_views.entity_advideos"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns_criterion"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS","model_name":"sf.metrics3_stg.adwords_views.entity_user_lists"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f4f55d66-4f34-4f16-b992-37bc83b087f5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43b85-8e13-480f-dad3-efc8cc525e00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1d3a568b-c920-4180-b8b8-b070519893a5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"data":{"job_id":"87923e24-c721-4d69-8c1a-5386c070c03b"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 607579d4-5cca-43c4-a874-2d4e8f49b5dd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/job/87923e24-c721-4d69-8c1a-5386c070c03b
  response:
    body:
      string: '{"data":{"identifiers":null,"job_id":"87923e24-c721-4d69-8c1a-5386c070c03b","status":"RUNNING"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 390e1f1f-e56e-452c-a37b-954f08f51559
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"data":{"job_id":"20c43b7b-01fe-ccfc-0a53-7a99bada7600"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 08352290-351e-4ba4-818d-7a86fd8d8de0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20c43b7b-01fe-ccfc-0a53-7a99bada7600/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_reference":"\"__API_VERSION\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"CHARACTER
        VARYING","field_map":["__api_version"],"model_name":"sf.metrics3_stg.adwords_views.entity_accounts","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__api_version"},{"data_reference":"\"__DATA\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"CHARACTER
        VARYING","field_map":["__data"],"model_name":"sf.metrics3_stg.adwords_views.entity_accounts","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__data"},{"data_reference":"\"__EXTRACTED_AT\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"TIMESTAMP","field_map":["__extracted_at"],"m[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43b79-1889-b9a2-ca65-f1f75fd60400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c7fc0eda-f61f-4a1f-96d5-f8755a0ffd99
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"data":{"job_id":"6e6838e3-870e-41cd-a777-7705408c0b92"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 67fce733-6a33-4cc6-b2a0-f545c655ea82
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"data":{"job_id":"20c43b65-ce90-96ab-7c3e-4689dc012f00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d29681e5-a9b4-4b03-b4b4-81a76b615922
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43b65-5c2b-e3fb-ff65-adc6f6214800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 82f68d75-1b9c-4322-931b-cca91a065830
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"3061a0d6-9c46-44c1-ba56-778aef89ef64"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d9f45eda-f288-43ea-ae6b-0a0cb995eefb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20c43b43-5039-fd6b-b04d-7ef370168100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2c5b98b0-62f6-449a-bd9c-308e592ca1cd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43b40-f6bc-2e95-d383-974fd5687200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0de6a27d-82ab-41f8-9797-b9c63ea2ae93
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"data":{"job_id":"29d425e0-f3bd-47fb-a925-90aa8991a95e"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 724143ba-9ac7-4ff2-b0b5-ac8568ac1dd4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"data":{"job_id":"20c43b21-2d14-b1b8-3e83-3fed58845400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 08b65485-6f6d-4dd9-87d9-8f9812bf1977
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43b1d-6706-677b-f202-eeb7b04f9200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 05275535-ed05-4659-b77a-6dd4efddd6b5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"0028dbbb-3c95-4dde-bcdf-edc981e9b5d2"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7d029f0c-7755-4d40-9d27-1d80c04f7deb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20c43af6-c289-4fc5-ea73-deca60805500"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 262f0d92-d5b2-4bcf-9ced-418ba8889317
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43af4-99f8-19c2-863f-0b77ce2d6400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 26557399-239e-48cc-8528-6b039e48531a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"data":{"job_id":"7cc787b9-86a4-4526-8cd0-bfc80a7225cb"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8bccb88e-367c-488b-bf49-5df937c3ae81
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"data":{"job_id":"20c43ae1-6185-5105-79c4-a6b949325a00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c152b490-ccfb-4f72-b577-3e5015a213d3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43adf-4165-77d8-ffc0-339293665e00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 03a889fb-c884-43a5-9495-bf5cd49a45f4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"data":{"job_id":"60fc555c-35d6-4191-969c-7f6d1cb58c23"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - cb0f78ce-2b0e-4202-ba09-1dcf37614dde
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"data":{"job_id":"20c43ad1-6e41-e562-cdf3-b670649f3900"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e5bcd802-bf7a-4fc9-aff5-ee5543771558
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43ace-90c1-7cc5-263e-2c93279be200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 91b74817-cf4a-4c33-adee-16bbe4df1610
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"data":{"job_id":"feafb32d-1b78-4959-8a14-8cefddf98317"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - fcd41479-ac17-47f1-af10-9ca1ff92bb30
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"data":{"job_id":"20c43aac-7051-7be1-fc36-4210f5300e00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0ee1066b-2c56-41b9-bf62-45cbe9a68af4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43aaa-2d60-4a46-2552-ce603dad0a00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2beb863a-837b-4306-8efc-204c81e48748
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"bdd17f8b-da98-42ac-b77e-e4d692bda86f"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7cea97ca-f34a-4e0e-ae78-166cf1bb253a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20c43a89-748b-83f9-5432-2f1e19207d00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9770a942-6749-4334-8641-330b48efc471
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20c43a87-3923-6695-681b-6e07bc7e0e00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 48aba5dd-31f0-49e0-9bb1-075e878b7c5a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"data":{"job_id":"0c87375d-2954-4bef-9b0d-34e1c2b012d6"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 09af6ce8-523a-4e31-9a6d-271dd5be94db
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"data":{"job_id":"20c43a60-3cf3-4027-5269-0fd492b92100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 78c1495a-5d1e-42cf-9238-7ffe919af778
    status:
      code: 200
      message: OK
[...]
