interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0b1", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c8894d51d78140d55b9cb6b3e6b2807e"'
      Last-Modified:
      - Thu, 06 Aug 2020 14:41:08 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - xJNGkCdg_MF7RA9MPWscU1tH6Gil2TfD
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XzT@FlCL9cJ8Nf3bfA--JQAAABk
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1597308498'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"job_id":"20cb01e6-1aa9-81f8-6d76-46523ab6be00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b2e7fbac-88b7-4ec5-a751-6aab9d93f32a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20cb01e6-1aa9-81f8-6d76-46523ab6be00
  response:
    body:
      string: '{"job_status":"COMPLETED"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3fc86e7e-44bb-403e-b2a7-812331ad544c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20cb01e6-1aa9-81f8-6d76-46523ab6be00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_name":null,"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts","table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_name":null,"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups","table_name":"ENTITY_ADGROUPS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_name":null,"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups_from_service","table_name":"ENTITY_ADGROUPS_FROM_SERVICE",[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01e4-9baa-2947-1892-f3215e80d000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c1863f51-1aaa-46b3-b0b3-4e188c1273d9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20cb01e2-4c60-e2d5-5129-24973c946e00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d05ba00f-e4f5-43ff-91aa-a33fbc3d0617
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20cb01e2-4c60-e2d5-5129-24973c946e00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_name":"__API_VERSION","data_reference":"\"__API_VERSION\"","data_type":"CHARACTER
        VARYING","field_map":["__api_version"],"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts","table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__api_version"},{"column_name":"__DATA","data_reference":"\"__DATA\"","data_type":"CHARACTER
        VARYING","field_map":["__data"],"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts","table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__data"},{"column_name":"__EXTRACTED_AT","data_ref[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01e1-2ec8-d0eb-74b5-ea2b3dd43300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 022dbeda-0700-4c1d-bc39-b90bd8a5361a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20cb01de-bf4d-d612-dc1b-33234df2fd00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3ee8f7e9-0092-4a53-9f4e-d1e2d6c8b268
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01dc-f6e8-71a6-c0a8-50d6c4b8ba00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1f0bcf1a-e45a-4d20-bd50-fcb68683c6d4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20cb01db-35c3-d764-b357-186b9b324800"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 96900076-494d-4ec1-8757-50062080d69e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01d9-7137-f7f0-4a43-7df887096e00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d210858d-8e8c-44f1-9a1b-bfc18618120c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20cb01d6-19f8-c675-1503-5f6d452fc800"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c403e7c7-b3d9-4e6b-9d05-40587a0c14a7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01d5-33ca-1d73-3ad0-d5600c8b2800"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ac07c548-20c2-4c2e-adff-bc01daddd194
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20cb01d1-af9d-2d7e-8798-c627e88dc700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 05de4970-4f36-488d-be89-19d891904ecd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01cf-bda1-1f56-e538-da40613e3c00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e548e83c-6b13-45ea-a102-1dca3bb386cc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20cb01ce-898a-fb3c-1a6d-95e0e6cf2c00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4e905f64-a82e-47bf-b9f0-e823fec0e91a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01cc-943a-351a-8124-8438f61bab00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a260ebb4-1809-4390-942c-d861e96f439a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20cb01ca-2c65-3393-4f5e-2c1cade15d00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3d72d886-db4d-4359-b59c-196f203f1d3c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01c7-b2fc-da96-f207-c30127764700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f739f934-f571-41b3-ac15-396f2779d889
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20cb01c5-dca0-2375-cb4a-f1d6622d6700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 005fe963-6849-428d-8ea1-86bd4ef1bdfa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01c5-58fb-c00d-3515-4a2018375600"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 16bce9f5-6fe6-4b92-801e-7a06a675f8ff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20cb01c2-6b3c-2c66-c499-178c7810a500"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - df821136-b96e-460f-850f-e59bd5085436
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cb01bf-b179-301d-16b9-c9abc5082200"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 47e2bb5e-e65b-47d1-9256-368f4db9c09c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20cb01bc-867f-b3e6-f916-564a55624c00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c8cd8f16-7562-4673-aaba-c58998de9bf9
    status:
      code: 200
      message: OK
[...]
