interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0b1", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c8894d51d78140d55b9cb6b3e6b2807e"'
      Last-Modified:
      - Thu, 06 Aug 2020 14:41:08 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - xJNGkCdg_MF7RA9MPWscU1tH6Gil2TfD
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XzUgmK0xD2C1fIVjfmWOAAAABYU
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1597317332'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"job_id":"20cadf63-3440-7fc3-06ff-ad95cc950f00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8b11726f-e6fb-41ee-80c5-db14fda9034d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20cadf63-3440-7fc3-06ff-ad95cc950f00
  response:
    body:
      string: '{"job_status":"COMPLETED"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8f7e160d-4f10-4157-9eaa-e63f04acb158
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20cadf63-3440-7fc3-06ff-ad95cc950f00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_name":null,"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts","table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_name":null,"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups","table_name":"ENTITY_ADGROUPS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_name":null,"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups_from_service","table_name":"ENTITY_ADGROUPS_FROM_SERVICE",[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cadf62-514f-8f64-003c-d5b8c7689d00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5d4a0703-f7b8-4d37-95f5-f10b81ebdf55
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"data":{"job_id":"5280c392-5ac8-496d-ace1-41852bf05832"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 35892210-08d5-432e-a2c7-8c7486a93bad
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/job/5280c392-5ac8-496d-ace1-41852bf05832
  response:
    body:
      string: '{"data":{"identifiers":null,"job_id":"5280c392-5ac8-496d-ace1-41852bf05832","status":"RUNNING"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6eb84d24-da92-4be9-aaf0-7c206ba2181c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20cadf56-8e7e-b2da-c8e4-45115d4c4f00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2d51c0cf-b9aa-4e86-8e4d-d141a8780a83
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20cadf56-8e7e-b2da-c8e4-45115d4c4f00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_name":"__API_VERSION","data_reference":"\"__API_VERSION\"","data_type":"CHARACTER
        VARYING","field_map":["__api_version"],"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts","table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__api_version"},{"column_name":"__DATA","data_reference":"\"__DATA\"","data_type":"CHARACTER
        VARYING","field_map":["__data"],"fully_qualified_object_name":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts","table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__data"},{"column_name":"__EXTRACTED_AT","data_ref[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cadf54-a7a3-ee2f-2fcf-0a1f33307000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3896c877-289c-4ab0-bdea-c44279b4fd9f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"data":{"job_id":"5fc4e7e9-d094-4187-a13c-70a32083c2cb"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9412dd2f-f205-49ed-adad-f1f5888c124d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20cadf43-fc8c-3f51-c8b0-faabdef22100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - be50095f-cfbe-43fb-9803-fa780837c262
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cadf42-4476-6380-527c-60f8d05a1a00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 418bcc65-4017-4c4d-86c8-eb31fd6aede4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"31144ab8-80dd-480f-b2e5-a71584aa6120"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 16a3e672-3a38-434b-9d97-2e3f258b1893
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20cadf21-95a9-b616-6b7b-2d06463a2f00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 118c27e0-6690-458e-bc2e-b925ab7bffc0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cadf20-3c91-ad91-7ef9-d87ab044ac00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 00ba522d-01f8-4270-a517-ad4b7e59b71c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"data":{"job_id":"d86276e0-03ae-486c-af37-310cbf9621ba"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b87e18f5-2ffa-4ab3-98ed-d92950a8ca2e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20cadefe-a7ac-9836-18e0-717634b3e100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3381282c-9e66-4479-89da-65a1c7fc479a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cadeff-31c5-8b4f-972b-a43a941de600"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2396f15d-4772-460f-865d-cb2ff4a337cd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"5e1bd49a-0a12-4106-9e48-f5ab8b36c3dc"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 03a56f33-e6c0-422c-84b7-dea1cedc4079
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20cadedc-c495-4900-ac14-3ec8124cfc00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 705974ce-d775-4c81-b107-c394356e92c7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cadeda-a9fe-1c26-2d27-28e377485500"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ffa62fdb-1a78-41c4-b47b-a4a4bb9c437e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"data":{"job_id":"05c1ae75-26c7-41cd-8569-6856b6e3ef2e"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 676c1074-a3f6-461a-855f-49e3ec25aeb7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20cadec7-7482-fda1-501d-5f2fd95f8800"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ef1f10bd-70c9-4ab4-b9ba-116eb02d53cf
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cadec5-c0b2-968f-aa40-59e031e76000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4253eaee-71a0-45cf-8eca-2db266aa2ae0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"data":{"job_id":"811cfba5-2d47-47fa-893d-eb4877c3c7bf"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 244e76dc-7067-4c04-ab3c-d41ed5822ab8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20cadeba-12df-f5d7-3beb-ed51a1c4a900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 80c864e0-e436-45c3-aed8-b76530a1d2bf
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cadeb9-71d9-d449-bc42-65e607350d00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3a67ac06-d423-43f3-a8da-6880e6e72227
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"data":{"job_id":"3c8c209e-3424-4bbf-9aa7-1394dbc24517"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0a55c706-7475-4599-a9c4-cba99198e779
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20cade96-ae0b-fe2f-24c4-96f313158200"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f74699a1-5391-42eb-9c27-a17d98f5b83b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cade93-b70c-5c72-b93a-d45dad406400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - da30aac9-8d3b-40b5-b399-197d500952d2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"c9f5cfa8-0e5b-4054-bd80-0788e5cd31b8"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4ca4c9d2-460a-4bb9-aae5-2c571b553482
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20cade75-717e-dc6d-eabb-19169b4c9f00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 061169ad-c843-4eae-b540-4a2ee1d6af34
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20cade74-5eb3-192c-1ee3-055461b90b00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1776a6cc-740f-4ef0-9290-f24ddef1ddb3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"data":{"job_id":"dda5b6d7-29d6-4e4d-9067-0a962ff5ed93"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 05a6d9d8-7e24-48a5-8098-45d25d169449
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20cade4e-3b3e-7474-42eb-c226524b5900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e8bf5e91-6691-40c0-9b2e-32a1eccd5bee
    status:
      code: 200
      message: OK
[...]
