interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.7.4", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"6867b00a67be82dc6de1129f91a96f9f"'
      Last-Modified:
      - Thu, 23 Jul 2020 14:02:32 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - zOCc8ujgfqK83SnQvzD1gK57thi41wdB
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XxmlZ6Q6BX@lIyx0odAV2gAAAFA
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1595516323'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"job_id":"20e65a97-255c-c8aa-19da-fcbdabfc9900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2b93aaa0-dc0d-401f-8b8a-b14298d1b8f0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20e65a97-255c-c8aa-19da-fcbdabfc9900
  response:
    body:
      string: '{"job_status":"RUNNING"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 97c73423-9d0b-4437-ac9d-8c2dd4d5be99
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20e65a97-255c-c8aa-19da-fcbdabfc9900/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_CRITERION","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_USER_LISTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ae368ca3-5aaa-4e0d-a765-bc0d262eabc8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20e65a92-b38f-bc8d-55d1-d436f7297700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6fd6c527-2396-4c26-a72a-bb259e78e8fb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20e65a91-cc65-9b52-b101-94f44ab99e00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a8cb9145-3a31-44a7-b1ca-b55c29fb90c8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20e65a90-f217-0cac-c7b4-37511fbed400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 23787a0a-148f-46c7-9f90-1ab6e2263997
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20e65a90-7fd1-3867-c0bb-23c7d8ea8100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3265617e-6680-4487-97c4-6fe951f87f3b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20e65a8f-66c6-58d8-d8ca-b90742c2db00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 60f767eb-c120-4c44-b4e5-33344ef4d54e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20e65a8e-0a3a-470d-7739-9237f5961e00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 252b5b59-4b72-4691-bfb1-b9b0c67d3606
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20e65a8e-1b5c-a7b4-400f-d382d7bd9a00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 91c8dff6-b937-492e-aa88-e814a5a40bc0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20e65a8f-7209-35d7-a686-f3cf404bf700/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_default":null,"column_name":"__RECORD_ID","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":1,"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__DATA","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":2,"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"CAMPAIGN_ID","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":3,"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20e65a8b-2992-9951-9f19-8354e2d6df00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c70d4aa2-647f-4b4e-a011-cbce6b44f789
    status:
      code: 200
      message: OK
[...]
