interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.8.2", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"acb0d320be59147dfb26455e55c2fc2f"'
      Last-Modified:
      - Mon, 03 Aug 2020 17:13:31 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - qkHIZxDofjgIGtiqEpD.zVPWGQVVJKwW
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XywQ2GRHKQlnjJkd44LkJQAACa4
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1596723476'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"job_id":"20d3ef24-f080-5501-001b-d813714a9900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e53c3376-1cc1-4b2c-9625-13ee9018552f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d3ef24-f080-5501-001b-d813714a9900
  response:
    body:
      string: '{"job_status":"COMPLETED"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - df8a8b2c-fe7a-43a0-b277-19f7bbe427a9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d3ef24-f080-5501-001b-d813714a9900/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_CRITERION","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_USER_LISTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3a01d9a9-4269-432d-b177-a6aaf8969351
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3ef22-93f1-75d6-e8a5-4510b2b88b00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - bd0dcee9-93c0-42e3-a85a-01f80d2214a2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20d3ef20-ee65-4930-4d9d-8280e44e3000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6c14b6dc-57d8-4de4-a5b5-b7d36e1ae307
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d3ef20-ee65-4930-4d9d-8280e44e3000/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_default":null,"column_name":"__API_VERSION","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":1,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__DATA","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":2,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__EXTRACTED_AT","data_type":"TIMESTAMP","is_nullable":"YES","ordinal_position":3,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_defaul[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3ef1e-fbf9-9306-9bc3-714445fb3900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 719b5e0b-a771-43c9-a3c4-f950afc34e01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20d3ef1d-48df-969b-3541-280c7658f700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 898ace92-78f5-48f7-97fb-846e3dbfa394
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3ef1a-cb92-adb5-b97a-406000fee000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 20ca86ce-399c-47e2-8a03-a7fc36c9605c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d3ef17-f3d3-2d21-2745-552f9e460300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0e2a2c45-f920-4c23-b284-cafed5d35c0c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3ef17-5f58-dacc-972a-e98d7ae5be00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 176ac6a9-79d2-46fe-8777-3b11c7db151c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20d3ef13-f54f-0ac6-4078-5c2c5d4ee300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a2786069-6c8c-4030-84da-1a9388d692e2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3ef11-e54b-48c8-bba1-64990ab1f900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 784ef233-eb47-4cd6-bdc9-d0838fcafbe9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d3ef10-22da-b610-b5aa-ab735b26b700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0f4e7486-ffb5-494a-8f39-74dcd786203e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3ef0d-b451-48ab-e976-7968852a9d00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3f96948f-c601-440b-a56b-089f26d2aa22
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20d3ef0b-f54f-8a23-e7a1-d61378173200"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 92a61f4b-353b-4641-849a-55168da0e8e9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3ef09-d583-e523-76ea-ad53649bfe00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c36974a5-0b52-4106-8fce-b281664ece3e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20d3ef07-0b8c-33ce-391b-e567b2247000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0e28f1db-ac77-4aa0-945e-76f73ed17d1a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3ef01-c678-fcc5-211a-ad5abb881d00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - cf9d9350-ef12-49c4-a50d-57f522d2ee98
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20d3eefe-aee3-040d-4e39-1f18269e4f00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 26c4a4c4-7dc7-4d97-898e-bd6d638dee63
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3eefd-f185-ab2b-83ba-25ca990f9800"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b471c4d8-80bb-43f2-b1f2-91021681a18a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d3eefb-332e-797f-f6ac-e6bc8ff8ab00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 69d696c8-02b1-436d-ab7d-137e6088b7a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d3eef9-453e-98aa-b269-f113468c3100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2fbef79f-573f-454e-92c6-8a0e468c0df1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20d3eef7-156c-4fcd-e564-2b775fc9a000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 45de954d-d864-4c0b-ba53-c5f957dfe798
    status:
      code: 200
      message: OK
[...]
