interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0b1", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c8894d51d78140d55b9cb6b3e6b2807e"'
      Last-Modified:
      - Thu, 06 Aug 2020 14:41:08 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - xJNGkCdg_MF7RA9MPWscU1tH6Gil2TfD
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - Xy1dmJBEmDmn7h5nL0Z3TQAACZU
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '596'
      x-rate-limit-reset:
      - '1596808653'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"job_id":"20d2a265-6d4d-53e5-3c7f-93b2bfb4ec00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 443c9b01-215d-46cc-948b-a71b39a9cd95
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d2a265-6d4d-53e5-3c7f-93b2bfb4ec00
  response:
    body:
      string: '{"job_status":"COMPLETED"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 99fc9621-a358-40af-950e-628ddf8effef
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d2a265-6d4d-53e5-3c7f-93b2bfb4ec00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_CRITERION","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_USER_LISTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9a2a9a29-b281-4362-b4a1-1651e4213a25
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a25e-ca74-7874-3436-d91164d18100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ca975bbb-4670-406b-bc31-706ad53a10e2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"data":{"job_id":"1187eb0f-39c3-40f0-be4a-2bcd14b7a7a7"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4fb193e3-c2e0-4743-b12d-a4f1f2c3724a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/job/1187eb0f-39c3-40f0-be4a-2bcd14b7a7a7
  response:
    body:
      string: '{"data":{"identifiers":null,"job_id":"1187eb0f-39c3-40f0-be4a-2bcd14b7a7a7","status":"RUNNING"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 31dad442-6303-4392-9a3b-ce02b4733e1c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20d2a24a-26eb-f4d8-a2d1-f985cdefe800"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a8e1a257-8268-4760-b05f-1a95e0b0a19f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20d2a24a-26eb-f4d8-a2d1-f985cdefe800/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_default":null,"column_name":"__API_VERSION","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":1,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__DATA","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":2,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__EXTRACTED_AT","data_type":"TIMESTAMP","is_nullable":"YES","ordinal_position":3,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_defaul[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a248-e6b0-670f-5a00-b9c3819a0e00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 605476dc-42b4-4c18-ba8a-af38cf70b3a1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"data":{"job_id":"b882b0da-0775-4689-a765-ca3b2075a041"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - fd89665b-c052-42f8-bad3-253243b19ad5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20d2a236-764a-fc50-6007-4e99d351f600"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1243d445-f4d6-47a8-a94e-d5c53209c726
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a235-30c2-d3d1-bdf0-6d97cf4e3300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 84a568be-25fc-4be2-8458-d344136649eb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"2fd2fa62-2b77-4a5b-a050-3fb4e7281bff"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f4c4599c-ae6f-4871-8150-dbf203bdc023
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d2a20e-a9c8-2c9c-01fc-4ef9173c2f00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1621fc2a-3c63-4793-b8a3-7a10da0ec988
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a20c-c96d-0114-9a0d-78f6beffc100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7ad02859-b650-45ff-9f30-574592625a76
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"data":{"job_id":"58d12ab9-d936-43ec-8e07-c550e06476e1"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 49c02018-2623-469d-85ea-d86697fad095
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20d2a1e8-06ba-2f69-d766-a61bf331ad00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c8004b77-44e0-4a18-b7e2-c96272e8741e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a1e6-06f7-4988-865b-c7d4a5719b00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6e2b2f17-4eeb-43dc-b5d0-f9c0f33b4206
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"9739c3f9-53b3-4b50-93a5-260cb5000d68"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 13409c9d-bcf8-4b5a-861f-f6e6e324d7f7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d2a1bf-b03f-eabc-01ee-a436dc112100"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e9033462-e090-4e4a-a751-3e0c1ab3f6f5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a1bd-026a-7c5a-d457-41b759d6a300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ca43491c-6ba5-411e-9164-41dd9a094fae
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"data":{"job_id":"167148f7-0a89-49df-a191-4fb90bc6f6af"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7cefe081-0d5b-4c7c-9f8c-8f3b41f491c9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20d2a1a7-beb8-c4c6-e16b-bdb04a5a0400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ccf91e68-e8e0-4acc-a1fd-5d3fdfd7f09f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a1a6-a825-d533-99a9-52559e19b400"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4b6a802e-3893-4eca-b034-353437ed15f2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"data":{"job_id":"6e44cf92-e6fd-47ff-8775-7b592947703b"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - aaa54545-faef-4c8b-9cad-30ccd31cef5b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20d2a198-c4b6-ee78-9f6a-b6ea1a6f1900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e351599c-3ffc-4082-9a97-0f2f41b47517
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a198-4090-aa26-008e-62cf1aaeaf00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - fb0f1c71-cd3e-45b3-9ff8-596d21780814
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"data":{"job_id":"7f49084f-26df-4296-b9a4-5b091b6bff27"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0414af07-203f-40a0-9b49-518f999aa3d5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20d2a170-6e08-8a80-f291-b1e7aae96200"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 26117764-ad3a-4ce0-b07b-7a0711ecb83d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a16d-eece-9999-a8f9-33189f1df300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 006ab7fc-1925-4b95-a6ea-ce59a9fdcee3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"75499581-4d15-4eef-be57-68fe357abb02"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 03c31922-548d-407a-bf6f-218775840a16
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20d2a143-aa10-b636-8b0e-7768623e0b00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 92b8aa77-10de-48fa-b06f-8270d7d9e1b5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"job_id":"20d2a142-c1ae-b7ca-551d-6af0ed920600"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d0bd0900-4b9f-4593-89c7-b95582a077f6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"data":{"job_id":"15a92f5c-03ee-487c-b9c4-b14834164326"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 29e760da-11b2-40dc-8bd6-6078a5059a31
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20d2a112-d3c3-f288-c4a5-f590194e9e00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c28f23c8-cfd6-4406-8f02-46cfe52349a6
    status:
      code: 200
      message: OK
[...]
