interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.1.0", "minimum_supported_version": "0.1.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2c38027bfccdb04f142b94eb70fe4c01"'
      Last-Modified:
      - Thu, 09 Jul 2020 15:44:01 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - O1SnEtjkaYH5YwdM_elablqvGLhum2hl
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJraWQiOiJXT3BZUVdDU0YtWkw0RU1OR3FHUEowWk1zNlhfY3A5UUlsaTY0MXFhNTYwIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULmFRU244NFFkSmo1UzRLSFVmbXNUMzNncUV2MjViWVIyZXoyX1FyQ29lTWMiLCJpc3MiOiJodHRwczovL2lkLnBhbm9yYW1pY2hxLmNvbS9vYXV0aDIvYXVzNWl5M3V0TFhpM0V6NEE0eDYiLCJhdWQiOiJodHRwczovL2FwaS5wYW5vcmFtaWNzdHEuY29tIiwiaWF0IjoxNTk0NzI5MzUwLCJleHAiOjE1OTQ3MzI5NTAsImNpZCI6IjBvYWNzenFvYzhvTnl0N21mNHg2Iiwic2NwIjpbInBsYXRmb3JtIl0sInN1YiI6IjBvYWNzenFvYzhvTnl0N21mNHg2In0.VKB6o-ZlVrIsszGAXXnyOxd5OwypVXXzcIIBIdvv82dFrNB6xJ6tvGd4gXnC6dB1knmblvCD-m2SS0ws0N-KzpIL6XIdzQ7uCQkFF9DKbKoYXQpj6lo5TwhhGiUbdi2_AW17-hMGxz4C6pOyxFgUV9tiq07AOr-u2e4Cz_JT2aHLkAR-RBU4cA3_xBmLqjRtsyW7e2HMfIYrwM6XvtTVfkeACkJhyd0R0WbYSxzYkHQiC5dwknpWyBtKw2u0EzJ0fpFoo4Hw-kDbRqwyhvpsH8FPWgg7U-joiwmgW4yQY0Hd3wCatPA_Ftrfr1vcixpa24WjbGPXvD6mP513QtZJtQ","scope":"platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - Xw2jhkO9t3WTy6vIuf2Y2AAABAo
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1594729410'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/tables?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"job_id":"20f25c78-4045-2c86-d0e6-ac794544cf00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - dfe4b096-1e81-4692-8c31-5ec6074230e2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20f25c78-4045-2c86-d0e6-ac794544cf00
  response:
    body:
      string: '{"job_status":"RUNNING"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a18876fb-db39-4cab-8171-7c91d2d37e75
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20f25c78-4045-2c86-d0e6-ac794544cf00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADGROUPS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_ADVIDEOS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_CRITERION","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_CAMPAIGNS_FROM_SERVICE","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"table_name":"ENTITY_USER_LISTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 128d4592-6e5a-411b-b58d-24b55c26053d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20f25c75-7946-cdc3-b6ce-74334ce1e700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b876e27a-809e-4270-aef9-cad523bc355c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"job_id":"20f25c70-dcfb-0fad-c418-617229d3b600"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7ba15d1f-3c84-4f0e-8c91-10bcde8fd1f8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20f25c70-dcfb-0fad-c418-617229d3b600/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"column_default":null,"column_name":"__API_VERSION","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":1,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__DATA","data_type":"CHARACTER
        VARYING","is_nullable":"YES","ordinal_position":2,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_default":null,"column_name":"__EXTRACTED_AT","data_type":"TIMESTAMP","is_nullable":"YES","ordinal_position":3,"table_name":"ENTITY_ACCOUNTS","table_schema":"SF.METRICS3_STG.ADWORDS_VIEWS"},{"column_defaul[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20f25c6f-8857-bfaa-786e-cfd7bb33aa00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0f50b7bb-6ffe-4e4e-b105-947a1835a70f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"job_id":"20f25c6e-765d-6aba-11aa-ba7baefc8600"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f6865cdd-3b19-496f-8ed2-6d8a2d85092c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20f25c6d-16cb-9d6c-ffdc-4589e700e700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 16b67eda-72e1-4156-9333-3e1d76617f81
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20f25c69-a6c5-5a50-8f00-1c69fe05e300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1d588d3c-5f4c-439d-9128-5b86ace23088
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20f25c67-d8bb-6cd8-4240-e662db039f00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e42e0bf3-e57e-416a-8e7e-f30c26224fe5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"job_id":"20f25c65-a718-d3c2-f88d-c87417d15d00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ab4044e9-32a4-431b-ac3a-d2493c562442
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20f25c64-7602-b988-a7f9-0a2a01b4a300"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 617f2398-7e08-4027-b53f-c6c30a50f00c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20f25c60-5b7f-d70a-cc8f-0d4b79737600"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b3db2d0f-f9e2-4a9a-b7aa-dda3f91e3492
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20f25c5e-bc2c-904d-fcaa-7ddd831b3b00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 409e0ded-cea3-418f-8047-658057f4d357
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"job_id":"20f25c5c-8308-9092-ed9a-22bec125a000"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 91aab5df-c184-4a65-a4f1-6c41f8bf5960
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20f25c5b-9790-d09c-3d86-0db0c39f7c00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ad183131-0093-4654-90d1-87944f28e665
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"job_id":"20f25c57-82f7-5741-743b-c1767410fb00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 98423043-3491-4403-80ea-e7d17730bbca
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20f25c55-c16d-2eb5-411a-4cf1e63c1900"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0c62304a-28cc-49ee-abee-9dfef4005e85
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"job_id":"20f25c53-573a-948f-74fd-a6a19f89af00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 740a5ad8-770e-4298-8c48-9e31f1ca5c58
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20f25c50-b305-7609-fd03-82c32dafd800"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 52fd80d4-893d-4112-8403-c483f64d40e9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"job_id":"20f25c4f-2338-e42c-8ca9-4dc9ebd53f00"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - fb4bb99c-9a5b-4f59-9579-6e2cf7896b4c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/refresh?table-name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20f25c4c-8104-7803-6d25-a7a2214f3700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8fe30ad4-2d53-4dfc-a801-8763687681d9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/sf/columns?table-filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"job_id":"20f25c4a-338b-8ec2-0f2e-7b035fbf3700"}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 775bf8e8-6399-46e1-87d7-382f390748f7
    status:
      code: 200
      message: OK
[...]
