interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.7.4", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"6867b00a67be82dc6de1129f91a96f9f"'
      Last-Modified:
      - Thu, 23 Jul 2020 14:02:32 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - zOCc8ujgfqK83SnQvzD1gK57thi41wdB
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XxqOadeHJfBVsPZokMbGHwAABEE
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1595575973'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source?company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"display_name":"test_dataset_1","global_slug":"operam_v_d_s_test_dataset_1","slug":"test_dataset_1"},{"display_name":"Test
        Dataset","global_slug":"operam_v_d_s_test_dataset","slug":"test_dataset"},{"display_name":"ACoolDataset","global_slug":"operam_v_d_s_a_cool_dataset","slug":"a_cool_dataset"},{"display_name":"MyCoolDataset","global_slug":"operam_v_d_s_cool_dataset","slug":"cool_dataset"},{"display_name":"MyNextDataset","global_slug":"operam_v_d_s_my_next_dataset","slug":"my_next_dataset"},{"display_name":"MyCustomDemoFacebook","global_slug":"operam_v_d_s_my_custom_facebook","slug":"my_custom_facebook"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 37890540-8fac-41ec-9b99-cee883b509f9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset_1&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - be1e2690-94b2-4656-a275-06249ddaae35
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"attributes":[{"column_data_type":"CHARACTER VARYING","identifier":true,"taxon":"test_field","transformation":"column"}],"fully_qualified_object_name":"SF.DBNAME.SCHEMANAME.TABLENAME","joins":[{"join_type":"left","relationship":"many_to_one","taxons":["test_field"],"to_model":"other_model"}],"name":"test_model","visibility":"available"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e0fd69e5-3e12-453c-9dc2-248d9bbea8b5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=a_cool_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 59233a34-3a44-4d6d-8e4b-d0970a169766
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=cool_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c003981e-024c-408b-9f32-19b22893b1d1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=my_next_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a8065b12-ed8f-459c-b6aa-7df841304528
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=my_custom_facebook&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 44041a20-4ecc-4127-b03b-e08c7ac6fcbf
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"slug": "test_dataset", "display_name": "Test Dataset"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source?company_slug=operam
  response:
    body:
      string: '{"data":{"display_name":"Test Dataset","global_slug":"operam_v_d_s_test_dataset","slug":"test_dataset"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b7da8f63-66db-4c0d-a119-fb5390c67578
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"name": "test_model", "fully_qualified_object_name": "SF.DBNAME.SCHEMANAME.TABLENAME",
      "attributes": [{"column_data_type": "CHARACTER VARYING", "taxon": "test_field",
      "identifier": true, "transformation": "column"}], "joins": [{"to_model": "other_model",
      "join_type": "left", "relationship": "many_to_one", "taxons": ["test_field"]}],
      "visibility": "available"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - ca85c2c3-8740-4b90-8cc9-23ecc384bef9
    status:
      code: 204
      message: NO CONTENT
version: 1
