interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.7.4", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"6867b00a67be82dc6de1129f91a96f9f"'
      Last-Modified:
      - Thu, 23 Jul 2020 14:02:32 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - zOCc8ujgfqK83SnQvzD1gK57thi41wdB
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - Xxnag2YnFHm1uUi0O3YYqwAAAmw
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1595529919'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source?company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"display_name":"test_dataset_1","global_slug":"operam_v_d_s_test_dataset_1","slug":"test_dataset_1"},{"display_name":"Test
        Dataset","global_slug":"operam_v_d_s_test_dataset","slug":"test_dataset"},{"display_name":"ACoolDataset","global_slug":"operam_v_d_s_a_cool_dataset","slug":"a_cool_dataset"},{"display_name":"MyCoolDataset","global_slug":"operam_v_d_s_cool_dataset","slug":"cool_dataset"},{"display_name":"MyNextDataset","global_slug":"operam_v_d_s_my_next_dataset","slug":"my_next_dataset"},{"display_name":"MyCustomDemoFacebook","global_slug":"operam_v_d_s_my_custom_facebook","slug":"my_custom_facebook"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4dab05ae-5744-4d28-b322-08e1108cd6bd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset_1&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"attributes":[{"column_data_type":"CHARACTER VARYING","identifier":false,"taxon":"sf.metrics3_stg.adwords_views.entity_accounts.__api_version","transformation":"__API_VERSION"},{"column_data_type":"CHARACTER
        VARYING","identifier":false,"taxon":"sf.metrics3_stg.adwords_views.entity_accounts.__data","transformation":"__DATA"},{"column_data_type":"TIMESTAMP","identifier":false,"taxon":"sf.metrics3_stg.adwords_views.entity_accounts.__extracted_at","transformation":"__EXTRACTED_AT"},{"column_data_type":"TIMESTAMP","identifier":false,"taxon":"sf.metrics3_stg.adwords_views.entity_accounts.__processed_at","transformation":"__PROCESSED_AT"},{"column_dat[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"attributes":[{"column_data_type":"CHARACTER VARYING","identifier":true,"taxon":"test_field","transformation":"column"}],"fully_qualified_object_name":"SF.DBNAME.SCHEMANAME.TABLENAME","joins":[{"join_type":"left","relationship":"many_to_one","taxons":["test_field"],"to_model":"other_model"}],"name":"test_model","visibility":"available"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f553b7c7-5378-4e5b-9ab4-74f809c6121f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=a_cool_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8b9f965c-e24c-4fc1-b5dd-8b094066a450
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=cool_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2d1962f7-3adb-4df9-b62c-85048bd58f55
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=my_next_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e3d11289-440c-40d9-b4ef-6b6d846d5ea6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=my_custom_facebook&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4556e701-e192-4bdd-bea4-2bbdf0d391c8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"slug": "test_dataset", "display_name": "Test Dataset"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source?company_slug=operam
  response:
    body:
      string: '{"data":{"display_name":"Test Dataset","global_slug":"operam_v_d_s_test_dataset","slug":"test_dataset"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 360d4da3-f011-4759-80b8-4fa85dcc4a45
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/sf.metrics3_stg.adwords_views.entity_accounts?virtual_data_source=test_dataset_1&company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 488dea86-aa8b-4a9d-abc2-8963e367c51d
    status:
      code: 204
      message: NO CONTENT
- request:
    body: '{"name": "test_model", "fully_qualified_object_name": "SF.DBNAME.SCHEMANAME.TABLENAME",
      "attributes": [{"column_data_type": "CHARACTER VARYING", "taxon": "test_field",
      "identifier": true, "transformation": "column"}], "joins": [{"to_model": "other_model",
      "join_type": "left", "relationship": "many_to_one", "taxons": ["test_field"]}],
      "visibility": "available"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 3b815d94-ceb8-4826-91f3-82f8d46499fb
    status:
      code: 204
      message: NO CONTENT
version: 1
