interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.7.4", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"6867b00a67be82dc6de1129f91a96f9f"'
      Last-Modified:
      - Thu, 23 Jul 2020 14:02:32 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - zOCc8ujgfqK83SnQvzD1gK57thi41wdB
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XyfVUwP-LEl9XBsGn@pVsgAABQQ
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '590'
      x-rate-limit-reset:
      - '1596446036'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source?company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"display_name":"test_dataset_1","global_slug":"operam_v_d_s_test_dataset_1","slug":"test_dataset_1"},{"display_name":"Test
        Dataset","global_slug":"operam_v_d_s_test_dataset","slug":"test_dataset"},{"display_name":"ACoolDataset","global_slug":"operam_v_d_s_a_cool_dataset","slug":"a_cool_dataset"},{"display_name":"MyCoolDataset","global_slug":"operam_v_d_s_cool_dataset","slug":"cool_dataset"},{"display_name":"MyNextDataset","global_slug":"operam_v_d_s_my_next_dataset","slug":"my_next_dataset"},{"display_name":"MyCustomDemoFacebook","global_slug":"operam_v_d_s_my_custom_facebook","slug":"my_custom_facebook"}]}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c535f1f9-5fb0-495b-a9a4-241d1c9881e7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset_1&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ad0162c4-149d-4fe5-913a-02231be653af
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"attributes":[{"column_data_type":"CHARACTER VARYING","identifier":false,"taxon":"sf.dbname.schemaname.tablename.test_field","transformation":"column","uid":"sf.dbname.schemaname.tablename.test_field"},{"column_data_type":"CHARACTER
        VARYING","identifier":true,"taxon":"test_field","transformation":"column","uid":"sf.dbname.schemaname.tablename.test_field"}],"fully_qualified_object_name":"SF.DBNAME.SCHEMANAME.TABLENAME","joins":[{"join_type":"left","relationship":"many_to_one","taxons":["test_field"],"to_model":"other_model"}],"name":"test_model","visibility":"available"}]}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ef971b9f-d817-42e5-adf0-5764d382d2cf
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=a_cool_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6a016026-6817-4548-8f26-a845db5cdfee
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=cool_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - db9f1b11-9f25-43a5-951f-ca6669ab5f86
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=my_next_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - aff82009-1f7d-492f-b942-465cbab7f870
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=my_custom_facebook&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b5670430-f605-44eb-a791-dfb190ec1521
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"slug": "test_dataset", "display_name": "Test Dataset"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source?company_slug=operam
  response:
    body:
      string: '{"data":{"display_name":"Test Dataset","global_slug":"operam_v_d_s_test_dataset","slug":"test_dataset"}}

'
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d1b5852b-c69c-4ec0-9e5e-242b66915bc7
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"name": "test_model", "fully_qualified_object_name": "SF.DBNAME.SCHEMANAME.TABLENAME",
      "attributes": [{"uid": "sf.dbname.schemaname.tablename.test_field", "column_data_type":
      "CHARACTER VARYING", "taxon": "sf.dbname.schemaname.tablename.test_field", "identifier":
      false, "transformation": "column"}, {"uid": "sf.dbname.schemaname.tablename.test_field",
      "column_data_type": "CHARACTER VARYING", "taxon": "test_field", "identifier":
      true, "transformation": "column"}], "joins": [{"to_model": "other_model", "join_type":
      "left", "relationship": "many_to_one", "taxons": ["test_field"]}], "visibility":
      "available"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 2d402432-3434-4e5b-9f6a-67294e849d31
    status:
      code: 204
      message: NO CONTENT
version: 1
