interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0b1", "minimum_supported_version": "0.7.4"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c8894d51d78140d55b9cb6b3e6b2807e"'
      Last-Modified:
      - Thu, 06 Aug 2020 14:41:08 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - xJNGkCdg_MF7RA9MPWscU1tH6Gil2TfD
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XzvGKzoAmPG9sQqaNL9wSwAAA2g
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1597752935'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source?company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"display_name":"michalapitest3","global_slug":"westeros_knights_v_d_s_michal_api_test3","slug":"michal_api_test3"},{"display_name":"michalapitest2","global_slug":"westeros_knights_v_d_s_michal_api_test2","slug":"michal_api_test2"},{"display_name":"michalapitest","global_slug":"westeros_knights_v_d_s_michal_api_test","slug":"michal_api_test"},{"display_name":"test_dataset_1","global_slug":"operam_v_d_s_test_dataset_1","slug":"test_dataset_1"},{"display_name":"ACoolDataset","global_slug":"operam_v_d_s_a_cool_dataset","slug":"a_cool_dataset"},{"display_name":"MyCoolDataset","global_slug":"operam_v_d_s_cool_dataset","slug":"cool_dataset"},{"display_name":"MyNextDataset","global_slug":"operam_v_d_s_my_next_dataset","slug":"my_next_dataset"},{"display_name":"MyCustomDemoFacebook","global_slug":"operam_v_d_s_my_custom_facebook","slug":"my_custom_facebook"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d95fa2cc-e0f3-45e8-9492-42c70df25003
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=michal_api_test3&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 192d68f0-a7f8-4d1c-9b0e-7d3713b00c89
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=michal_api_test&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - bfc9f46e-f5bf-4338-8d43-d644f83b1a05
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset_1&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a93e01e6-ff91-4f89-a713-17f675b07f7f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=a_cool_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7231e0bf-0d2f-4c01-b44e-14df505e2eac
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=cool_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e779a0b1-9566-4769-970b-eaf717a798fe
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=my_next_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 906779f6-c14c-47e2-a4e4-2276369dc95e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=my_custom_facebook&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 41fcbc62-e1de-41a1-a057-d84d3e34fa60
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source/michal_api_test?company_slug=operam
  response:
    body:
      string: '{"error":{"error_code":"entity-not-found","msg":"Could not find entity
        virtual_data_source"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 92035b3b-849b-4f37-906a-51c75bb708b6
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source/michal_api_test2?company_slug=operam
  response:
    body:
      string: '{"error":{"error_code":"entity-not-found","msg":"Could not find entity
        virtual_data_source"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 992c25a1-42bd-47e1-93fc-9cc99f201667
    status:
      code: 404
      message: NOT FOUND
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source/test_dataset_1?company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - e323daed-a813-4e9f-9dd6-e7034d9cc94f
    status:
      code: 204
      message: NO CONTENT
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source/a_cool_dataset?company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 6e0102f4-621e-4eea-8e92-530144b2a6f6
    status:
      code: 204
      message: NO CONTENT
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source/my_custom_facebook?company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - c2970139-17f7-4ba7-8f06-822c4572edd5
    status:
      code: 204
      message: NO CONTENT
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source/my_next_dataset?company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 2cc6b033-2ce7-4cd2-a1e9-68e75422e2b7
    status:
      code: 204
      message: NO CONTENT
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source/cool_dataset?company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - c79fbc1b-834a-49fe-bc13-40e4921b0929
    status:
      code: 204
      message: NO CONTENT
- request:
    body: '{"slug": "test_dataset", "display_name": "Test Dataset"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source?company_slug=operam
  response:
    body:
      string: '{"data":{"display_name":"Test Dataset","global_slug":"operam_v_d_s_test_dataset","slug":"test_dataset"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 271d1199-f797-4ee3-9d0f-93bc1078994a
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"model_name": "test_model", "data_source": "SF.DBNAME.SCHEMANAME.TABLENAME",
      "fields": [{"uid": "sf.dbname.schemaname.tablename.test_field", "data_type":
      "CHARACTER VARYING", "field_map": ["test_field"], "data_reference": "column"}],
      "joins": [{"to_model": "other_model", "join_type": "left", "relationship": "many_to_one",
      "fields": ["test_field"]}], "identifiers": ["test_field"], "visibility": "available"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=operam
  response:
    body:
      string: '{"error":{"error_code":"unknown","msg":"Encountered an unknown exception"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 864ab15d-baa0-4f28-b958-4b1b59b9c661
    status:
      code: 500
      message: INTERNAL SERVER ERROR
version: 1
