interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.5.0", "minimum_supported_version": "0.5.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"6f6cec12a24a753e532387a3b5b72795"'
      Last-Modified:
      - Wed, 15 Jul 2020 15:39:07 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - AmpsFa8j0cdkl5eOsFx13_MLd6nASHlV
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - XxBgmJAuIFi7psWDIh-oVwAAAmk
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '598'
      x-rate-limit-reset:
      - '1594908872'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=operam&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a4d370c1-2ea2-4bfe-b87d-206e9a86f660
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"slug": "test_dataset", "display_name": "Test Dataset"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/virtual-data-source?company_slug=operam
  response:
    body:
      string: '{"data":{"display_name":"Test Dataset","global_slug":"operam_v_d_s_test_dataset","slug":"test_dataset"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 15796521-ab31-448a-9e99-83e6957bc4dd
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"name": "test_model", "fully_qualified_object_name": "SF.DBNAME.SCHEMANAME.TABLENAME",
      "attributes": [{"column_data_type": "CHARACTER VARYING", "taxon": "test_field",
      "identifier": true, "transformation": "column"}], "joins": [{"to_model": "other_model",
      "join_type": "left", "relationship": "many_to_one", "taxons": ["test_field"]}],
      "visibility": "available"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicstg.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=operam
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 7488fb92-7eec-4956-8ff7-9f86a9f104bb
    status:
      code: 204
      message: NO CONTENT
version: 1
